
**Exemplo 1.3**: Em alguns estados, a data e o mês de nascimento são incorporados ao número da carteira nacional de habilitação (CNH), por meio da expressão **XYZ = 40(m − 1)+ n** , em que m e n representam o mês e a data de nascimento, respectivamente, e XYZ são os três últimos dígitos da CNH. Assim,  onsiderando que 349 = 40 8. + 29, o titular da CNH com esses três últimos dígitos nasceu no dia 29 de setembro.

In [ ]:
def aniversario(xyz):
  for m in range (1,13):
    for n in range (1,32):
      print (f"Tentando m = {m} e n={n}")
      if xyz == 40*(m-1) + n:
        return m, n
  return None

xyz = 349
aniversario = aniversario(xyz)

In [17]:
if aniversario is not None:
  print(f"\n A pessoa nasceu em {aniversario[0]}/{aniversario[1]}")
else:
  print("\n Não foi encontrado a data de nascimento")

 A pessoa nasceu em 9/28